#tvinfo .show {
  position: relative;
  margin-bottom: 2em;
}

#tvinfo .station.group {
  border: thin solid #90A0A9;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 11px;
  margin-bottom: 1em;
}

#tvinfo .show img {
  max-width: 80px;
  max-height: 50px;
  vertical-align: middle;
}

#tvinfo .show .thumb {
  display: none
}

#tvinfo .show .remaining {
  display: block;
  color: red;
}

#tvinfo .footer img {
  height: 1em; }

#tvinfo .footer a {
  text-decoration: none; }
